/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

.hidden {
    display: none!important;
  }

.star {
    color: #ee5253;
}

header {
    background-color: #0fb9b1;
    padding: .5rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header h1 {
    font-size: .8rem;
    margin: 0;
}

header button {
    font-size: .45rem;
    border: none;
    padding-bottom: 6px;
    padding-top: 6px;
    border-radius: 3px;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background: url(assets/burger-friends.jpg) no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
}

#mealChoices {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: .75em;
    margin-bottom: .4em;
}

#mealChoices li {
    margin-top: .8em;
    font-size: .7rem;
}

#mealChoices input[type="radio"] {
    -ms-transform: scale(.6); /* IE 9 */
    -webkit-transform: scale(.6); /* Chrome, Safari, Opera */
    transform: scale(.6);
    vertical-align: middle;
    margin-top: -.5px;
}


main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5vh;
}

.box {
    background-color: rgba(225, 225, 225, .9);
    width: 33%;
    height: 46vh;
    padding: 1.5vw;
    
}

main h2 {
    font-size: 1rem;
    font-weight:bold;
    margin-top: 1em;
    margin-left: 0.5em;
    margin-bottom: 1em;
}

.button-cook__main {
    font-size: .55rem;
    background-color: #0fb9b1;
    padding: 5px 30px;
    border: none;
    border-radius: 3px;
    margin-left: .8em;
}

.div2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div2a {
    margin-top: auto;
    
}

.div2b {
    align-self: flex-end;
    margin-top: auto;
}

.introTextItem {
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.introTextMeal{
    font-size: 0.7rem;
    margin: 0;
    text-align: center;
    padding: 1em;
}

.mealBody {
    margin: 0;
    padding: 0;
}

.selectedItem {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.selectedMeal {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: .9rem;
    font-weight: bold;
}

.button-clear__main {
    font-size: .6rem;
    color: #ffffff;
    background-color: #95a5a6 ;
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
}